{% extends 'base.html' %}
{% block header %}
{% if error %}
<h2>Unable to claim gig</h2>
{% else %}
<h2>Successful claimed gig</h2>
{% endif %}
{% endblock header %}
{% block content %}
{% if claimedJob %}
<h3> You've claimed: {{ claimedJob.job.headline }} </h3>
<a href="{% url 'gigs:detail' claimedJob.job.id %}">
    <h4> View Gig Details and Instructions </h4>
</a>
<a href="{% url 'accounts:detail'%}">
    <h4> View all current gigs </h4>
</a>
{% endif %}
{% if error %}
<h3> error adding job: {{ error }} </h3>
{% endif %}
{% endblock content %}