{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-left header">
        <h1>{{ job.headline }}</h1>
    </div>
    <p> Description: {{ job.description }}</p>

    <p>Campaign: {{ job.campaign.name }}</p>
    <p>Canidate: {{ job.campaign.candidate }}</p>
    <p>Canidate from: {{ job.zipcode }}</p>

    <p> There are currently <strong> {{ job.remaining_count }} </strong> remaining spots availble. </p>
    {% if jobClaimed %}
    <h4> Instructions: </h4>
    {{ job.instructions|linebreaks }}
    {% else %}
    <form method="post" action={% url 'gigs:claim' %}>
        {% csrf_token %}
        <input type="hidden" name="job_id" , value={{job.pk}}>
        <button class="btn btn-primary btn-lg" type="submit"> Grab This Gig </a>
</div>
{% endif %}
{% endblock %}