{% extends 'base.html' %}


{% block header %}
<h2>Account Detail for {{ user.email }}</h2>
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col align-self-center">
            {% if user.is_worker %}
            {% if user.worker.claimed_jobs.all %}
            <h4> Current Jobs: </h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Campaign</th>
                        <th scope="col">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for claimedJob in user.worker.claimed_jobs.all %}
                    <a href={% url 'gigs:detail' claimedJob.job.id %}>
                        <tr>
                            <td><a href={% url 'gigs:detail' claimedJob.job.id %}>{{ claimedJob.job.headline }} </a>
                            </td>
                            <td><a href={% url 'gigs:detail' claimedJob.job.id %}>{{ claimedJob.job.description }} </a>
                            </td>
                            <td><a href={% url 'gigs:detail' claimedJob.job.id %}>{{ claimedJob.job.campaign.name }}
                                </a></td>
                            <td><a href="mailto:claimedJob.job.campaign.email">{{ claimedJob.job.campaign.email }} </a>
                            </td>
                        </tr>
                    </a>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <h4>Experience Earned: {{user.worker.experience}}xp</h4>
                    <p>Gain experience by completing jobs. (More info coming soon)</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href={% url 'accounts:logout' %}>Logout</a>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <p> Doesn't look like you're working any gigs </p>
            </div>
            <div class="row justify-content-center">
                <a href="{% url 'gigs:list' %}" class="btn btn-outline-primary">Grab Some</a> {% endif %}
            </div>
            {% else %}
            <h3> You must be logged in to view this page </h3>
            {% endif %}
        </div>
    </div>
</div>

<style>
    td a {
        display: block;
        test-decoration: none;
        color: inherit;
    }


        {}
</style>
{% endblock content %}